<h3>Your Invites</h3>

<% @user_invites.each do |invite| %>
  <p>Invite from <%= Group.find(invite.group_id).name %></p>
    <ul>
      <li>
        <%= link_to "Accept", memberships_path(group_id: invite.group_id), method: :post %> | <%= link_to "Reject", "#" %>
      </li>
    </ul>
<% end %>