<div class="center hero-unit">
  <h1>Welcome to Inventory!</h1>
  <h2>Inventory is a great tool for managing your egg production and shipping.</h2>

  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>