<div class="row">
  <div class="span6 offset3">
    <%= form_for(@input) do |f| %>

      <%= @product.name %>
      
      <%= f.label :quantity %>
      <%= f.text_field :quantityof %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>