<h1>Edit <%= Group.find(params[:id]).name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@group) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Update group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@invite) do |f| %>

      <%= hidden_field_tag(:group_id, params[:id]) %>

      <%= f.label :email_to_invite %>
      <%= f.text_field :invitee_email %>

      <%= f.submit "Invite User", class: "btn btn-large" %>
    <% end %>
  </div>

  
</div>