<h1>All Groups for <%= current_user.name %></h1>

<div class="row">

  <div class="span8 offset3">
      <% current_user.groups.each do |grp| %>
		<b><%= grp.name.capitalize %></b>
      <p><%= link_to "Members", group_path(grp), class: "btn btn-large" %> -
      <%= link_to "Inventory", group_products_path(grp), class: "btn btn-large"  %> -
       <%= link_to "Dashboard", group_dash_index_path(grp), class: "btn btn-large" %> 
        <br>
      <br>
    <% end %>
  </div>
</div>

<div class="center_button">
  <% if current_user.groups.empty? %>
    <h3>Looks like you're not part of a group yet.</h3>
    <%= link_to "Create a group!", new_group_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>