<h1>Create a new group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@group) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>