<h1>Groups Page for <%= Group.find(params[:id]).name %></h1>

<div class="row">
  <div class="span6 offset3">
    <h2>Group members</h2>
    <% Group.find(params[:id]).users.each do |usr| %>
      <li><%= usr.name.capitalize %> <%= "- #{usr.human_readable_phone_number}" unless usr.human_readable_phone_number.empty? %> </li>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= link_to "Edit Group", edit_group_path, class: "pull-right" %><br><br> 

    <h2>Company members</h2>
  </div>
</div>

