<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
  </div>
</div>


<div class="row">
  <div class="span2 offset3">
    <li class="divider">
    <h5>Phone information</h5>
      <%= f.label :Area_code %>
      <%= f.text_field :area_code %>
      <%= f.label :Phone_number %>
      <%= f.text_field :phone_number %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>