<div class="row">
  <div class="span6 offset3">
  <h1>Adding a new customer</h1>
    <%= form_for [@group, @customer]  do |f| %>
  

      <%= f.label :customer_name %>
      <%= f.text_field :name %>

  </div>
</div>
<br><br>
<div class="row">
  <div class="span2 offset3">
    <li class="divider">
        <h6>Only type in numbers and no dashes</h6>
      <%= f.label :customer_area_code %>
      <%= f.text_field :customer_area %>

      <%= f.label :customer_phone_number %>
      <%= f.text_field :customer_phone %>


      <%= f.submit "Add new customer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
