<h1>Current Customers</h1>

<h2><%= link_to "Add a customer!", new_group_customer_path, class: "btn btn-large btn-primary" %></h2>

<% @customer.each do |customer| %>

  <%= customer.name.capitalize %> <%= "- #{customer.human_readable_phone_number}" %> 
  </li><br> <%= link_to "Edit", edit_group_customer_path(params[:group_id], customer.id) %>  - 
<% customer.inspect %>
  <br><br>
<% end %>