<div class="center_button">
  <% if @group.products.empty? %>
    <h3> Looks like you do not have a product in inventory. Click this button to go to inventory page to add one.</h3>
    <%= link_to "Go to Inventory page", group_products_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<div class="dashproducts">
<% unless @group.products.empty? %>
  <%= link_to "Enter product quantity", new_group_output_path, class: "btn btn-large btn-primary" %>  <br><br> 
<% end %>

 
  <table border="1">
  	<tr>
  		<td>Product Name</td><td> Description</td><td>Current Quantity</td>
  	</tr>
  	<tr>
       <% @all_group_products.each do |product| %>
  		<td><%= product.name %></td><td><%= product.description %></td><td><%= product.numberofproduct %></td>
  	</tr>
      <% end %>
  </table>
