<div class="center_button">
  <% if @group.products.empty? %>
    <h3> Looks like you do not have a product in inventory. Click this button to go to inventory page to add one.</h3>
    <%= link_to "Go to Inventory page", group_products_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<div class="dashproducts">
<% unless @group.products.empty? %>
  <%= link_to "Enter product quantity", new_group_input_path, class: "btn btn-large btn-primary" %>  <br><br> 
<% end %>

<table border="1">
  <tr>
    <td>Product</td>
    <% @weekdays.each do |day| %>
      <td><%= day.strftime("%a %b %e") %></td>
    <%end%>
    <td>
    Average of the last 3 days
    </td>
  </tr>

  <% @product.each do |product| %>
    <tr>
      <td><b><%= product.name %></b></td>
      <% @weekdates.each do |day| %>
        <td>
          <% unless Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).empty? %>
            <%= (link_to "#{Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).first.quantity}", edit_input_path(Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).first.id)) %>
          <% end %>
        </td>
      <% end %>
      <% Input.where(group_id: params[:group_id], product_id: product.id).reverse.take(3).each do |math| %>
      <td> <%= math.quantity %> <% end %></td>
    </tr>
  <% end %>
</table>



<br><br><br><br>
      <% @product.each do |product| %>
        <table border="3">
          <tr>  
            <td><h4> <b><%= product.name %></h4></td>
            <% @weekdates.each do |day| %>
            <td> <%= day.strftime("%a %b %e") %></td>
            <% end %>
          </tr>

          <tr>
            <td>Inventory on:</td>
              <% @weekdates.each do |day| %>
            <td><% unless Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).empty? %>
              <%= (link_to "#{Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).first.quantity}", edit_input_path(Input.where(group_id: params[:group_id], product_id: product.id, input_time: day).first.id)) %>
            <% end %></td><% end %>        
          </tr>

<table border="1">
          <tr>
            <td>Orders</td>
          </tr>
        </table><br><br>
      <% end %>