<div class="row">
  <div class="span6 offset3">
    <%= form_for [@group, @product] do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name %>
<br>
<br>
 
      <%= f.label :description %>  <font size="2"><li class="divider"> should be less than 250 characters</li></font>
      <%= f.text_field :description %>
	
      <%= f.submit "Edit product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

