Product Inventory
<div class="center_button">
    <%= link_to "Add a product!", new_group_product_path(@group), class: "btn btn-large btn-primary" %>
 
</div>

<div class = "row">
 	<div class="span8 offset3"><br>


	</div>
</div>
<% unless @all_group_products.empty? %>
  <% @all_group_products.each do |product| %>

  <table border="1">
  	<tr>
  		<td>Product Name</td><td> Description</td><td>Current Quantity</td><td>Minimum Quantity</td>
  	</tr>
  	<tr>
  		<td><%= product.name %></td><td><%= product.description %></td><td><%= product.numberofproduct %></td><td><%= product.minimumnum %></td>
  </table>
    	 <%= link_to "Edit", edit_product_path(product) %> - <%= link_to "Remove", product_path(product), :method => :delete, :confirm => "Are you sure you want to delete this?" %><br><br>

  <% end %>
<% else %>
  <h3>Looks like you do not have a product yet.</h3>
<% end %>