<div class="row">
  <div class="span6 offset3">
    <%= form_for [@group, @product] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :model_number %>
      <%= f.text_field :model %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	
			<%= f.label :minimum_number_of_this_product %>
			*This will email you when it gets below this number*
      <%= f.text_field :minimumnum  %>


      <%= f.submit "Add product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>