<div class="row">
  <div class="span6 offset3">
    <%= form_for [@group, @output]  do |f| %>

      <%= f.label :product, "Product" %>
      <%= f.collection_select(:product_id, @products, :id, :name)%>

      <%= f.label :quantity %>
      <%= f.text_field :quantityof %>

      <%= f.submit "Input product information", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
